@{
    ViewData["Title"] = "Heim";
}

<div class="row">
    <div class="col-md-4">
        <h2>Flokkar</h2>
        <p>Flokkum og skilum... inn auglýsingum</p>
        <p><a class="btn btn-default" asp-controller="Category" asp-action="Index">Flokkar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Auglýsingategundir</h2>
        <p>Hér er hægt að möndla með auglýsingategundir og gjaldskrá þeirra</p>
        <p><a class="btn btn-default" asp-controller="AdType" asp-action="Index">Tegundir & Verð &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Miðlar</h2>
        <p>Vantar þig miðil? Búðu hann þá til!
        </p>
        <p><a class="btn btn-default" asp-controller="Media" asp-action="Index">Miðlar &raquo;</a></p>
    </div>
</div>
